:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Bebas Neue", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Roboto", sans-serif;
  --link-color: #d3e97a;
  --text-color: #c7c7c7;
  --border-color: #484848;
  --title-color: #fff;
  --element-background: #1a1a1a;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1250px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

body {
  font-family: var(--font-family);
  line-height: normal;
  font-weight: 400;
  background-color: #0a0a0a;
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
}

main {
  padding-top: 92px;
}

section {
  border-bottom: 1px solid var(--border-color);
}

.header {
  padding: 24px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #0a0a0a;
}
.header-wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-button {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}
.header-button-element {
  display: block;
  height: 2px;
  width: 32px;
  background-color: var(--text-color);
  transition: transform linear 300ms;
}
.hidden .header-button-element:first-child {
  transform: rotate(-45deg) translate(-1px, 7px);
}
.hidden .header-button-element:last-child {
  transform: rotate(45deg) translate(-2px, -8px);
}
@media (min-width: 768px) {
  .header-button {
    display: none;
  }
}

.logo {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
}
@media (min-width: 1280px) {
  .logo {
    font-size: 32px;
    line-height: 150%;
  }
}

.nav {
  display: none;
}
.nav-list {
  display: flex;
  gap: 32px;
}
.nav-link {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  padding-bottom: 2px;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--border-color);
  margin-top: 2px;
  transition: width ease-in 250ms;
}
.nav-item:hover .nav-link::after, .nav-item:focus .nav-link::after {
  width: 100%;
}
@media (min-width: 768px) {
  .nav {
    display: block;
  }
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 57px;
  line-height: 100%;
  color: var(--title-color);
  margin-bottom: 12px;
}
.hero-text {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 32px;
}
.hero-wraper-contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 64px;
}
.hero-img {
  border-radius: 15px;
  margin: 0 auto;
}
.hero-section {
  padding-top: 40px;
  padding-bottom: 64px;
}
@media (min-width: 768px) {
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero-wraper {
    max-width: 500px;
  }
  .hero-wraper-contacts {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .hero-wraper {
    max-width: 544px;
  }
  .hero-title {
    font-size: 101px;
    line-height: 90%;
  }
  .hero-text {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .hero-section {
    padding-top: 30px;
    padding-bottom: 80px;
  }
}

.link-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 48px;
  border-radius: 100px;
  background: var(--link-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #0a0a0a;
  padding: 0 4px 0 16px;
  transition: all linear 250ms;
  white-space: nowrap;
}
.link-contact:hover, .link-contact:focus {
  background: #222;
  color: var(--link-color);
}
.link-contact-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0a0a0a;
  transition: background-color linear 250ms;
}
@media (min-width: 1280px) {
  .link-contact {
    height: 54px;
    font-size: 16px;
    padding: 0 4px 0 24px;
  }
}

.wraper-contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .wraper-contacts-wraper-contacts {
    margin-bottom: 0;
  }
}

.link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #222;
  border-radius: 50%;
  transition: all ease-in 250ms;
}
.link-social:hover, .link-social:focus {
  background-color: var(--link-color);
}
.link-social:hover .icon-github:before, .link-social:focus .icon-github:before, .link-social:hover .icon-linkedin:before, .link-social:focus .icon-linkedin:before {
  color: #333;
}
@media (min-width: 1280px) {
  .link-social {
    width: 54px;
    height: 54px;
  }
}

.icon-github,
.icon-linkedin {
  font-size: 24px;
}
@media (min-width: 1280px) {
  .icon-github,
  .icon-linkedin {
    font-size: 26px;
  }
}

.feature-section {
  padding: 64px 0;
}
.feature-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 43px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--title-color);
  margin-bottom: 12px;
}
.feature-text {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 64px;
}
.feature-img {
  margin: 0 auto;
  display: inline-block;
}
.feature-project:not(:last-child) {
  margin-bottom: 96px;
}
.feature-img-name {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--title-color);
  border-radius: 100px;
  padding: 6px 12px;
  background-color: #0a0a0a;
  position: absolute;
  top: 6px;
  left: 10px;
}
.feature-img-wraper {
  display: inline-block;
  position: relative;
}
.feature-img-box {
  text-align: center;
}
.feature-title-project {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: var(--title-color);
  margin-bottom: 16px;
}
.feature-text-project {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 32px;
}
.feature-info {
  margin-top: 40px;
}
.feature-title-info {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--title-color);
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}
.feature-text-info, .feature-role {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--title-color);
  border-bottom: 1px solid var(--border-color);
}
.feature-info-value {
  color: var(--text-color);
}
.feature-wraper-links {
  padding-top: 40px;
}
@media (min-width: 768px) {
  .feature-title-project {
    text-align: center;
  }
  .feature-img-wraper {
    padding: 80px 57px;
    background-color: var(--element-background);
    border-radius: 12px;
  }
  .feature-img-name {
    font-size: 14px;
    padding: 8px 16px;
    top: 16px;
    left: 16px;
  }
}
@media (min-width: 1280px) {
  .feature-title {
    font-size: 76px;
    margin-bottom: 8px;
  }
  .feature-text {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 80px;
  }
  .feature-project {
    display: flex;
    align-items: center;
    gap: 48px;
  }
  .feature-project:not(:last-child) {
    margin-bottom: 120px;
  }
  .feature-info {
    margin-top: 0;
  }
  .feature-title-project {
    text-align: left;
    font-size: 32px;
  }
  .feature-text-project {
    font-size: 18px;
  }
  .feature-wraper-links {
    padding-top: 48px;
  }
  .feature-img-wraper {
    width: 600px;
    padding: 126px 57px;
  }
}

.link:first-child {
  margin-right: 24px;
}
.link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--link-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--link-color);
  transition: color ease-in 250ms;
}
.link:hover, .link:focus {
  color: #aec457;
}
.link img {
  width: 22px;
}
@media (min-width: 1280px) {
  .link {
    font-size: 16px;
  }
  .link img {
    width: 24px;
  }
}

.about-section {
  padding: 64px 0;
}
.about-text {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 24px;
}
.about-img {
  margin: 0 auto;
  margin-top: 64px;
}
.about-wraper {
  display: flex;
  justify-content: space-between;
}
.about-title {
  display: none;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 101px;
  line-height: 90%;
  color: var(--title-color);
  padding-right: 213px;
  white-space: nowrap;
}
.about-title-info {
  display: none;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: var(--title-color);
  margin-bottom: 16px;
}
@media (min-width: 1280px) {
  .about-section {
    padding: 122px 0 416px 0;
  }
  .about-title, .about-title-info {
    display: block;
  }
  .about-text {
    margin-bottom: 53px;
  }
  .about-img {
    display: none;
  }
}

.footer {
  padding: 64px 0;
}
.footer-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 43px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--title-color);
  margin-bottom: 16px;
}
.footer-info {
  font-size: 16px;
  line-height: 160%;
}
.footer-info:first-of-type {
  margin-bottom: 8px;
}
.footer-info:last-of-type {
  margin-bottom: 40px;
}
.footer-info-link {
  color: var(--title-color);
  border-bottom: 1px solid var(--link-color);
  padding-bottom: 1px;
}
.footer-wraper-social {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 64px;
}
.footer-wraper-social img {
  width: 32px;
}
.footer-wraper-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  transition: background-color ease-in 250ms;
  border-radius: 50%;
}
.footer-wraper-social-link:hover {
  background-color: #222;
}
.footer-rights {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin-top: 80px;
}
.footer-rights.desk {
  display: none;
}
@media (min-width: 1280px) {
  .footer-wraper {
    display: flex;
    justify-content: space-between;
  }
  .footer-title {
    font-size: 76px;
  }
  .footer-info {
    font-size: 18px;
    line-height: 150%;
  }
  .footer-rights.mob {
    display: none;
  }
  .footer-rights.desk {
    display: block;
  }
  .footer-wraper-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.footer-form-label, .footer-form-name {
  display: block;
}
.footer-form-label {
  margin-bottom: 24px;
}
.footer-form-label:last-of-type {
  margin-bottom: 32px;
}
.footer-form-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 8px;
}
.footer-form-field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 46px;
  background-color: var(--element-background);
  border: none;
  color: inherit;
  padding: 0 16px;
}
.footer-form-field:focus-visible {
  outline: none;
}
.footer-form-textarea {
  height: 148px;
  resize: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #0a0a0a;
  border-radius: 100px;
  width: 140px;
  height: 54px;
  background: var(--link-color);
  cursor: pointer;
  transition: all linear 250ms;
}
.footer-form-submit:hover, .footer-form-submit:focus {
  background: #222;
  color: var(--link-color);
}
@media (min-width: 1280px) {
  .footer-form {
    width: 600px;
  }
  .footer-form-label:last-of-type {
    margin-bottom: 40px;
  }
}

.mob-menu {
  position: fixed;
  top: 92px;
  left: 0;
  background-color: var(--element-background);
  width: 100%;
  height: 100vh;
  padding-top: 15px;
  transform: translateY(calc(-100vh - 92px));
  transition: transform linear 300ms;
}
@media (min-width: 1280px) {
  .mob-menu {
    display: none;
  }
}

.nav-mob {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-color);
}
.nav-mob-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.nav-mob-item {
  text-align: center;
}
.nav-mob-link {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.mob-wraper-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
}

body.hidden .mob-menu {
  transform: translateY(0);
}

.hidden {
  overflow: hidden;
}

.info-section {
  padding: 80px 0 64px;
}
.info-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 57px;
  line-height: 100%;
  color: var(--title-color);
  margin-bottom: 16px;
}
.info-sub-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: var(--title-color);
  margin-bottom: 8px;
}
.info-text {
  font-size: 16px;
  line-height: 160%;
}
.info-contact-space {
  margin-top: 40px;
  margin-bottom: 80px;
}
.info-img {
  margin: 0 auto;
}
.info-wraper-cap {
  margin-top: 80px;
}
.info-title-cap {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 43px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--title-color);
  margin-bottom: 12px;
}
.info-text-cap {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 24px;
}
@media (min-width: 1280px) {
  .info-section {
    padding: 160px 0 80px;
  }
  .info-wraper, .info-wraper-cap {
    display: flex;
    justify-content: space-between;
  }
  .info-box {
    max-width: 704px;
  }
  .info-title {
    font-size: 101px;
    line-height: 90%;
    margin-bottom: 0;
  }
  .info-sub-title {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .info-text {
    font-size: 18px;
    line-height: 150%;
  }
  .info-contact-space {
    margin-top: 48px;
    margin-bottom: 120px;
  }
  .info-box-cap {
    max-width: 600px;
  }
  .info-title-cap {
    font-size: 76px;
    margin-bottom: 0;
  }
  .info-text-cap {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 32px;
  }
}

.cap-list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.cap-item {
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: 100px;
  padding: 16px 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--title-color);
}
@media (min-width: 1280px) {
  .cap-item {
    font-size: 16px;
    padding: 20px 40px;
  }
}

.experience-section {
  padding: 64px 0;
}
.experience-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 43px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--title-color);
  margin-bottom: 32px;
}
.experience-sub-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.experience-time--first {
  margin-bottom: 12px;
}
.experience-time--second {
  margin-bottom: 4px;
}
.experience-time, .experience-text, .experience-company {
  font-size: 16px;
  line-height: 160%;
}
.experience-box:first-child {
  margin-bottom: 40px;
}
.experience-company {
  font-weight: 600;
  color: var(--link-color);
  margin-bottom: 12px;
}
@media (min-width: 1280px) {
  .experience-section {
    padding: 80px 0 72px;
  }
  .experience-wraper {
    display: flex;
    justify-content: space-between;
  }
  .experience-wraper-boxes {
    max-width: 600px;
  }
  .experience-title {
    font-size: 76px;
  }
}/*# sourceMappingURL=main.css.map */